---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Septiembre 2024",
    title: "Desarollador de Software",
    company: "Servicion Nacional de Aprendizaje",
    description:
      "Durante más de un año, trabajé en equipo en el desarrollo de SigmaSoft, un sistema integral para la gestión de módulos académicos. Mi rol incluía la implementación de la lógica del sistema, la administración de módulos y el diseño de una interfaz intuitiva. Gracias a mis contribuciones, SigmaSoft se ha convertido en una herramienta eficiente para la gestión académica, facilitando a los usuarios la realización de tareas de manera rápida y sencilla. Actualmente, SigmaSoft está en funcionamiento en la subsede del SENA en La Jagua de Ibirico, Colombia.",
    link: "#",
  },
  {
    date: "Junio 2024",
    title: "Administrador de Base de Datos",
    company: "Servicio Nacional de Aprendizaje",
    description:
      "Responsable de diseñar, implementar y mantener una base de datos MySQL de alta disponibilidad para un sistema de gestión de de horas academicas de una institucion nacional de aprendizaje. Optimicé las consultas MySQL y creé índices para mejorar el rendimiento en un 40%. Además, implementé medidas de seguridad para proteger los datos confidenciales de la empresa",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
