---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Septiembre 2024",
    title: "Desarrollador de Software",
    company: "Servicio Nacional de Aprendizaje",
    description:
      "Lideré el desarrollo de SigmaSoft, un sistema integral para la gestión académica. Implementé lógica de sistema, diseño de interfaz y administración de módulos, logrando una herramienta funcional que optimiza procesos académicos en la subsede del SENA en La Jagua de Ibirico.",
    link: "https://joseramos.com.co/",
  },
  {
    date: "Junio 2024",
    title: "Administrador de Base de Datos",
    company: "Servicio Nacional de Aprendizaje",
    description:
      "Diseñé y mantuve una base de datos MySQL de alta disponibilidad para un sistema académico. Optimicé consultas en un 40% y fortalecí la seguridad de los datos, garantizando un rendimiento eficiente y seguro.",
      link:"#"
  },
  {
    date: "Junio 2024",
    title: "Desarrollador Backend",
    company: "Hoteleria",
    description:
      "Desarrollé un sistema para la gestión de inventarios, clientes y reservas en hoteles. Implementé facturación, reportes administrativos y optimizaciones en el backend utilizando PHP para garantizar alto rendimiento.",
    link: "https://hotel.comeya.xyz/",
  },
  {
    date: "Abril 2024",
    title: "Desarrollador de Aplicaciones Web",
    company: "Galvis Café",
    description:
      "Creé una plataforma web para la gestión de pedidos de comida en línea, desarrollando tanto el frontend como el backend con PHP. Garantizé una experiencia de usuario fluida y un procesamiento de pedidos eficiente.",
    link: "https://galvislajagua.comeya.xyz/",
  },
];

---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
